<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">

            <!-- Carousel for the pictures/gifs-->
            <div style="display:block; height:30em;" id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox" style="height:100%;width:100%;">
                {% for image in post.img %}
                {% if image.active %}
                  {% if image.video %}
                  <div class="item active" style="height:100%;width:100%;">
                    <video width="800" height="520" controls class="img-responsive img-centered" style="height:100%;width:100%;">
                      <source src="img/portfolio/{{ image.video }}" type="video/mp4">
                    </video>
                  </div>
                  {% else %}
                  <div class="item active" style="height:100%;width:100%;">
                    <img src="img/portfolio/{{ image.link }}" class="img-responsive img-centered" style="height:100%;width:100%;">
                  </div>
                  {% endif %}
                {% else %}
                  {% if image.video %}
                  <div class="item" style="height:100%;width:100%;">
                    <video width="800" height="520" controls class="img-responsive img-centered" style="height:100%;width:100%;">
                      <source src="img/portfolio/{{ image.video }}" type="video/mp4">
                    </video>
                  </div>
                  {% else %}
                  <div class="item" style="height:100%;width:100%;">
                    <img src="img/portfolio/{{ image.link }}" class="img-responsive img-centered" style="height:100%;width:100%;">
                  </div>
                  {% endif %}
                {% endif %}
                {% endfor %}
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-{{ post.modal-id }}" role="button" data-slide="prev" style="height:50%;top:0%;transform:translateY(50%);">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-{{ post.modal-id }}" role="button" data-slide="next" style="height:50%;top:0%;transform:translateY(50%);">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            {% if post.description %}
            <br>
            {% for line in post.description %}
            <p style="text-align: justify;">{{ line }}<br></p>
            {% endfor %}
            {% endif %}
            <ul class="list-inline">
              {% if post.steam %}
              <li>
                <a href="{{ post.steam }}" class="btn-social btn-outline"><i
                    class="fa-brands fa-fw fa-steam" style="color:black"></i></a>
              </li>
              {% endif %}
              {% if post.steam-pilot %}
              <li>
                <a href="{{ post.steam-pilot }}" class="btn-social btn-outline"><i
                    class="fa-brands fa-fw fa-steam" style="color:black"></i></a>
              </li>
              {% endif %}
              {% if post.kickstarter %}
              <li>
                <a href="{{ post.kickstarter }}" class="btn-social btn-outline"><i
                    class="fa-brands fa-fw fa-kickstarter" style="color:black"></i></a>
              </li>
              {% endif %}
              {% if post.github %}
              <li>
                <a href="{{ post.github }}" class="btn-social btn-outline"><i
                    class="fa-brands fa-fw fa-github" style="color:black"></i></a>
              </li>
              {% endif %}
            </ul>
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
              {% if post.languages %}
              <li>Languages:
                <strong>{{ post.languages }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
